<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Qbite Begins{% block title %}{% endblock %}</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="keywords" content="">
    	<meta name="author" content="Javiera Guedes">
    	<meta charset="utf-8">

		<link type="text/css" rel="stylesheet" 
		      href="{{ url_for('static', filename='css/bootstrap.css') }}" />
        <link rel="shortcut icon" 
              href="{{ url_for('static', filename='ico/qbite.ico') }}">
	    <link rel="stylesheet" 
	          href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" >
	    <link rel="stylesheet" 
		      href="{{ url_for('static', filename='css/my.css') }}" >
	</head>

  	<body>
  		<div class="container-narrow">
			
			<div class="masthead">
        		<ul class="nav nav-pills pull-right">
         			<li class="active"><a href="#">Home</a></li>
                	<li><a href="#">Sign In</a></li>
        		</ul>
        		<h3 class="muted">Qbite</h3>
      		</div> <!-- class masthead -->

      		<hr> <!--horizontal line-->

      		<div class="jumbotron">
        		<h1>Qmon</h1>
        		<p class="lead">A free app to help you keep track of common expenses </p>
        		<a class="btn btn-large btn-success" href="#">Sign up today</a>
      		</div> <!-- class jumbotron -->

      		<hr>  <!--horizontal line-->

			<table class="table table-striped" id="account-table">
				<thead>
	    			<tr>
	        			<th>#</th>
	        			<th>Who</th>
	        			<th>Date</th>
	        			<th>Description</th>
	        			<th>Spent</th>
	        			<th>Credit</th>
	        			<th>Balance</th>
	    			</tr>
				</thead>
				
				<tbody>
	   				<tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
		            	<td>1</td>
		            	<td class="mutted">Thomas</td>
		            	<td>05 May 2013</td>
		            	<td>Groceries</td>
		            	<td class="text-success">$150.00</td>
		            	<td class="text-error"></td>
		            	<td class="text-success">$150.00</td>
		        	</tr>
		        	<tr>
		            	<td colspan="7" class="hiddenRow">
							<div class="accordian-body collapse" id="demo1"> HOLAL </div>    
						</td>
		        	</tr>
			</table>

			Enter python to execute:
			<form action="/" method="post">
				<input type="text" name="expression" />
				<input type="submit" value="Execute"/>
			</form>
			
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					results:
						<pre>
							{% for message in messages %}
{{message}}
							{% endfor %}
						</pre>
				{% endif %}
			{% endwith %}


      		<div class="footer">
        		<p>&copy; Javiera Guedes</p>
      		</div>

    	</div> <!-- /container -->

  	<!-- Le javascript - Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
  </body>
</html>